body {
  background: rgb(255, 254, 236);
  color: rgb(68, 67, 71);
}

td {
  padding-right: 10px;
}

#contentWrapper {
    max-width: 1100px;
    margin: auto;
}

.sectionHeader {
  font-family: 'Arvo', serif;
  border-top: 3px solid rgb(68, 67, 71);
  border-bottom: 2px dotted rgb(68, 67, 71);
  width: 90%;
  font-size: 36px;
  padding: 10px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.sectionBody {
  width: 90%;
  font-size: 20px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

#headline {
  font-family: 'Arvo', serif;
  font-size: 80px;
  text-align: center;
  padding-top: 20px;
}

#subline {
  font-family: 'Arvo', serif;
  font-size: 16px;
  text-align: center;
  color: #57565A;
}

#skillsHard {
  font-family: 'Arvo', serif;
  padding: 10px;
  float: left;
  width: 45%;
  border-right: 2px dotted rgb(68, 67, 71);
}

#skillsSoft {
  font-family: 'Arvo', serif;
  padding: 10px;
  margin-left: 51%;
}

.skillIcon {
  color: rgb(188,144,199);
}

#experienceCards {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.experienceCard {
  margin-top: 20px;
  display:flex;
  align-items: center;
}

.experienceDescription {
  padding: 15px;
}

.experienceIcon {
  color: rgb(119,170,198);
}

#contactCards {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24;
}

.contactIcon {
    color: #FF6A00;
}




/*
font-family: 'Lobster Two', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'VT323', monospace;
*/