.searchBox {
    display: flex;
    flex-direction: row;
    height: 100;
    align-items: center;
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    width: 10%;
    margin: auto;
}
.mainSearch {
    width: 80%;
    font-size: 1em;
}

.contentContainer {
}

.sidebar {
    padding: 10px;
    float: left;
    width: 30%;
    background-color: pink;
}

.timeline {
    padding: 10px;
    background-color: green;
}